
@import url('https://fonts.googleapis.com/css?family=Pacifico|Raleway:300,400,700,900');

.page {
    background: rgba(250, 128, 114, 0.562);
    display: flex;
    flex-direction: column;
}

.wrapper {
    width: 87%;
    height: 100%;
    margin: 0 auto;
    color: #262626;
}

.header {
    background: url("..//img/header-img.jpg") 50% no-repeat;
    background-size: cover;
    position: relative;
    padding-bottom: 393px;
    flex: 1 1 auto;
}

.header__navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 147px;
    margin-bottom: 224px;
}

.header__logo {
    font-family: Pacifico;
    font-size: 50px;
    font-weight: 400;
    line-height: 25px;
}

.nav {
    padding: 0;
    list-style: none;
    width: 561px;
    display: flex;
    justify-content: space-between;
}

.nav__item {
    font-family: Raleway;
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
    border-top: 3px solid transparent;
}

.nav__item:hover {
    border-color: #ff6033;;
}

.link {
    text-decoration: none;
    color: #262626;
}

.header__info {
    width: 369px;
    height: 236px;
}

.header__heading {
    font-family: Raleway;
    color: #262626;
    font-size: 60px;
    font-weight: 800;
    line-height: 25px;
}

.header__description {
    font-family: Raleway;
    color: #262626;
    font-size: 17px;
    font-weight: 300;
    line-height: 27px;
    margin-bottom: 25px;
}

.header__button {
    font-family: Raleway;
    color: #ffffff;
    font-size: 20px;
    font-weight: 300;
    line-height: 27px;
    background-color: #ff6033;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    border: none;
    outline: none;
    width: 200px;
    height: 55px;
}

.scroll {
    position: absolute;
    bottom: 6.5%;
    left: 49%;
}

.about {
    background-color:  #00c4c4;
    color: #ffffff;
    padding: 26px 0;
}

.about__wrapper {
    margin: 0 auto;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
}

.about-img__wrap {
    flex-basis: 720px;
}

.about-info__wrap {
    height: 308px;
}

.about__heading {
    font-family: Raleway;
    font-size: 90px;
    font-weight: 700;
    line-height: 27px;
    margin: 0 0 48px 0;
}

.about__info {
    font-family: Raleway;
    font-size: 17px;
    font-weight: 300;
    line-height: 27px;
    width: 499px;
}

.services {
    background: #70bfff;
    padding: 100px 0 163px;
}

.services__content {
    display: flex;
    align-items: center;
    height: 100%;
}

.list__wrap {
    display: flex;
    /* background: sandybrown; */
    flex-basis: 500px;
    justify-content: flex-end;
    height: 400px;
}

.services__list {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 460px;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}

.services__item {
    flex-basis: 100px;
    background: #fff;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);

}

.service__link {
    display: flex;
    height: 100%;
    text-align: center;
    /* background: rgb(171, 207, 100); */
}

.service__name {
    font-family: Raleway;
    color: #262626;
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    /* background: #76c0c0; */
    flex: 3 1 0;
    align-self: center;
}

.service__icon {
    /* background: #dad045; */
    flex: 1 1 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid #9d9d9d;
}

.services-img__wrap {
    display: flex;
    background: url(..//img/tomato.png) 100% no-repeat;
    flex-grow: 1;
    align-items: center;
    justify-content: flex-end;
    height: 527px;
}

.services__heading {
    font-family: Raleway;
    color:  #ffffff;
    font-size: 90px;
    font-weight: 700;
    line-height: 27px;
    
}

.services__img {
    position: absolute;
}